page-about {
    .radarBox {
        padding: 0%;
        margin: 0%;
        height: 100%;
    }

    .radarCard {
        background-color: color($colors,color4) !important;
    }

    .card-header{
        font-size: 1.8rem;
        font-weight: 500;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
    }
}
